@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 100% 97%;
    --foreground: 0 70% 14%;
    --card: 36 100% 97%;
    --card-foreground: 0 70% 14%;
    --popover: 36 100% 97%;
    --popover-foreground: 0 70% 14%;
    --primary: 0 68% 27%;
    --primary-foreground: 36 100% 97%;
    --secondary: 39 77% 83%;
    --secondary-foreground: 0 70% 14%;
    --muted: 39 77% 83%;
    --muted-foreground: 0 70% 34%;
    --accent: 39 77% 83%;
    --accent-foreground: 0 70% 14%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 36 100% 97%;
    --border: 0 70% 14%;
    --input: 0 70% 14%;
    --ring: 0 68% 27%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}